# Visual Studio Code cache/options directory
.vscode/settings.json
.vscode/storage/

# アプリ版メインjs
app/index.js

# Build results
build/icon/
build/include/
build/package/
build/*.yaml
build/*.yml
build/*.nsh

core/plugin/pass.json
core/diff.json

# Node.js Tools
node_modules/

# ブラウザ版メインjs
web/

# SKYNovel Dev famibee's Work Folder
Work/
