# Visual Studio Code cache/options directory
.vscode/settings.json
.vscode/storage/

# アプリ版メインjs
app/index.js

# Build results
build/*.yaml
build/*.yml
build/mac
build/win*
build/桜*
build/cordova

core/plugin/pass.json
core/diff.json

# Android/iOS build
mobile/

# Node.js Tools
node_modules/

# ブラウザ版メインjs
web/

# SKYNovel Dev famibee's Work Folder
Work/
